@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap'); /*font*/

/***layout***/
:root {
    --blk-clr: #000;
    --whit-clr:#fff;
    --bs-blue:#0d6efd;
    --gradient-bkg:linear-gradient(to right, #3851f9 0%, #4381fc 100%);
    --sub-title-bkg: #3d65fb1A;
    --lite-blue:#3d65fb;
    --para-clr:#666;
    --drk-blue:#040837;
    --liter-blue: #eaf0ff;
    --brdr-radi:15px;
    --transition:0.4s;
    --card-shadow: 0 20px 25px rgba(196, 190, 190, 0.9);
    --custom-l-h:1.9;
    --paragraph-font-size:1.3rem;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::selection {background-color: var(--lite-blue);color:var(--whit-clr)}

body {font-family: 'Oswald' ,  sans-serif;scroll-behavior: smooth;}

.custom-padding {padding:100px  20px 100px 10px}

.custom-padding-2{padding:20px}

.custom-margin {margin:100px 0 0}

.custom-paragraph {
    line-height:var(--custom-l-h);
    padding:10px 0;
    color: var(--para-clr);
}

.custom-paragraph-2 {
    color:var(--lite-blue);
    line-height: var(--custom-l-h);
    padding:10px 0;
    font-size: var(--paragraph-font-size);
}

.custom-paragrapg-3 {
    color: var(--whit-clr);
    line-height: var(--custom-l-h);
    padding:10px 0;
    font-size: var(--paragraph-font-size);
}

.card {border-radius: var(--brdr-radi)}

/*cutsom button with light bakground*/

.custom-btn-light {
    background-color: var(--whit-clr);
    color:var(--lite-blue);
    padding:12px;
    width:160px;
    border:1px solid #3d65fb;
    font-size: 1.1rem;
    transition: var(--transition);
    border-radius: 8px;
}

.custom-btn-light i {
    background: var(--gradient-bkg);
    padding: 6px;
    color:var(--whit-clr);
    border-radius: 4px;
    margin-left:5px
}

.custom-btn-light:hover {
    background-color: transparent;
    color:var(--whit-clr);
    border:1px solid #fff
}

.custom-btn-light:hover i {background:var(--whit-clr); color:var(--bs-blue)}

/*cutom button with blue background*/

.custom-btn-blue {
    background-color: var(--lite-blue);
    color: var(--whit-clr);
    padding:12px;
    width:160px;
    font-size: 1.1rem;
    transition: var(--transition);
    border-radius: 8px;
}

.custom-btn-blue i {
    background: var(--whit-clr);
    padding: 6px;
    color:var(--lite-blue);
    border-radius: 4px;
    margin-left:5px
}

.custom-btn-blue:hover {background-color: var(--blk-clr); color:var(--whit-clr)}

.custom-btn-blue:hover i {background:var(--lite-blue); color:var(--whit-clr)}

.subtitle {
    color: var(--lite-blue);
    background-color: var(--sub-title-bkg);
    display:inline-block;
    padding:10px 30px;
    border-radius: 20%  30%  20%  20%;
}

.current{background-color: var(--lite-blue); color: var(--whit-clr)}

.current i {color:var(--whit-clr)}

/***navbar***/

.height {height:0; z-index:99999}

nav ul {background-color: var(--whit-clr); z-index: 97799}

nav ul a {color:var(--bs-blue) !important}

.navbar-brand {color: var(--whit-clr) !important}

.navbar-toggler{background-color: var(--whit-clr)}

.colored-bakground {background-color:var(--lite-blue); transition:var(--transition)}

@media screen and (min-width:992px) {

    nav ul {background-color:transparent}

    nav ul li a {color: var(--whit-clr) !important}

    nav li {position: relative}

    nav li::before {
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        background-color: var(--whit-clr) ;
        height:4px;
        width:100%;
        transform:translateY(5px);
        opacity:0;
        transition: var(--transition);
        border-radius: 10px;
    }

    nav li:hover::before,
    nav li:focus::before {
        width:100%;
        opacity: 1;
        transform:translateY(0)
    }
}

/***hero section***/

.hero {
    background:var(--gradient-bkg); 
    position: relative;
    overflow:hidden;
}

.hero::before{
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    opacity: 0.1;
    border-radius: 100% ;
    background-color: var(--whit-clr);
    right:-150px;
    top:-265px
}

.hero::after{
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    opacity: 0.05;
    border-radius: 100%;
    background-color: var(--whit-clr);
    right: -144px;
    top: -253px;
}

.hero-content {padding-top:150px; padding-bottom: 50px}

.content-1 {color:var(--whit-clr)}

.hero-btn {
    background-color: var(--whit-clr);
    padding:10px;
    width:100px;
    color: var(--bs-blue);
    border:1px solid #fff;
    transition: var(--transition);
}

.hero-btn:hover {background-color: transparent; color:var(--whit-clr)}

/*waves around video player button*/
.waves {
    position: relative;
    width:100px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.waves span {
    position: absolute;
    border-radius: 50%;
    animation: wave 2s infinite linear;
    transition: var(--transition);
}

.waves span:nth-child(2){animation-delay: 0.5s}

.waves span:nth-child(3){animation-delay: 1s}

.waves span:nth-child(4){animation-delay: 1.5s}

@keyframes wave {
    0% {
        width:0;
        height:0;
        opacity:1;
        box-shadow: inset 0 0 445px rgba(255, 255, 255, 0.8)
    }

    100% {
        width:100%;
        height:100%;
        opacity: 0;
        box-shadow: inset 0 0 445px rgba(255, 255, 255, 0.8)
    }
}

/*video player button*/

.player  { 
    background-color:var(--whit-clr) ;
    border-radius:50%;
    transition: var(--transition);
    z-index: 88;
    cursor: pointer;
    padding:5px;
}

.player i {
    font-size: 1.1rem;
    padding:15px;
    color:var(--bs-blue);
}

.player:hover {background-color: var(--blk-clr); color: var(--whit-clr)}

.player:hover i {color:var(--whit-clr)}

.hero img {animation: moving 2s infinite linear; transition: var(--transition)}

@keyframes moving {
	0%,100% {transform: translateX(-10px)}

	50% {transform: translateX(10px)}
}

/****services****/

.service-card {
    position: relative;
    padding:30px 15px 20px;
    box-shadow: var(--card-shadow);
    z-index: 1111;
    background-color: var(--whit-clr);
    margin:20px 5px;
}

.service-icon-container {
    position: relative;
    top:-50px;
    width:110px;
    text-align: center;
    background-color: var(--lite-blue);
    border-radius: 100%;;
    z-index: 77777;
}

.service-icon-container::before {
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    background-color: var(--lite-blue);
    border-radius: 100%;
    top:-10px;;
    opacity: 0.8;
}

.service-icon-container::after {
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    background-color: var(--lite-blue);
    border-radius: 100%;
    bottom:0;
    opacity: 0.8;
}

.service-card .service-logo {
    color: var(--whit-clr);
    width:100%;
    line-height: 2.2;
    background-color: var(--lite-blue);
    font-size:3rem;
    border-radius: 100%;
}

.side-arrow-btn {padding:0; transition: var(--transition)}

.service-card:hover .side-arrow-btn {letter-spacing: 2px; color:var(--lite-blue)}

/***facts about us ***/

.fact-container {background: var(--gradient-bkg)}

.fact-card {
    background-color: var(--whit-clr);
    margin:10px 5px;
    transition: var(--transition);
}

.fact-icon-container {margin:5px 0 10px 0}

.fact-card i {
    color:var(--lite-blue);
    font-size:1.9rem;
    width:75px;
    height:75px;
    padding:15px;
    border:2px solid #3d65fb;
    border-radius: 100%;
}

.purecounter {font-size: 3rem;font-weight: bold}

.fact-card:hover {transform: scale(1.025)}

.fact-card:hover i {background-color: var(--lite-blue); color:var(--whit-clr)}

.fact-card:hover .purecounter {color:var(--lite-blue)}

/***intro video***/

.side-img {animation: moving 2s infinite linear; transition: var(--transition)}

.video-content {
    background: url(../img/video-img.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** work process ***/

.process-card {
    box-shadow:var(--card-shadow);
    margin:10px 5px;
    transition:var(--transition);
}

.process-card:hover {transform: translateY(-5px)}

.process-card span {
    color:var(--lite-blue);
    font-size: 3rem;
    font-weight:bold;
    text-shadow:-9px 4px 4px rgba(61,101,251,0.47)
}

.process-card i {
    color:var(--lite-blue);;
    opacity:0.6;
    font-size:3rem;
}

/***industries***/

.industries {background-color: var(--liter-blue)}

.industry-card {
    background-color: var(--whit-clr);
    box-shadow: var(--card-shadow);
    margin:10px 5px;
    cursor: pointer;
    transition: var(--transition);
}

.industry-card i {
    color:var(--lite-blue);
    font-size: 2.2rem;
    margin:10px 0
}

.industry-card:hover {background-color: var(--lite-blue)}

.industry-card:hover i,
.industry-card:hover p {color: var(--whit-clr)}

/***testmonials***/

.testmonials .swiper-slide {background-color: var(--liter-blue);position: relative}

.testmonials i {
    color:var(--lite-blue);
    font-size: 6rem;
    position: absolute;
    right:20px;
    top:20px;
    opacity: 0.6;
}

.testmonials img {
    width:100px;
    height:100px;
    border-radius: 100%;
}

.testmonials .swiper-slide h5 {color:var(--lite-blue)}

/***our team***/

.team {background-color: var(--liter-blue)}

.team-card {
    position:relative;
    width:100%;
    overflow: hidden;
    background-color:var(--whit-clr);
}

.team-card img {width:100%}

.team-card .team-content {
    position: relative;
    padding:20px;
    width:100%;
    background-color:var(--whit-clr)
}

.team-content:before {
    position: absolute;
    content:'';
    bottom:100%;
    left:0;
    width:0;
    height:0;
    border-style: solid;
    border-width: 55px 0 0 640px;
    border-color:transparent transparent transparent #fff
}

.team-card h2 {color:var(--lite-blue)}

.team-card p {
    font-size: 1.1rem;
    color: var(--blk-clr);
    text-transform: uppercase;
}

.team-content .social {
    padding:10px;
    border:1px solid #3d65fb;
    color:var(--lite-blue);
    font-size:1.1rem;
    border-radius: 5px;
    transition: var(--transition);
}

.team-card:hover .social {
    transform: translateY(-5px);
    background-color: var(--liter-blue);
    border:none
}

.social i {margin:0 10px}

.team-content .profile {
    position: absolute;
    border-radius: 50%;
    left:25px;
    bottom:100%;
    z-index: 1;
    max-width:95px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/***portfolio***/

.filter-menu li {
    transition:var(--transition);
    padding:7px;
    cursor: pointer;
    border-radius: var(--brdr-radi);
}

.filter-menu li:hover {background-color: var(--lite-blue); color:var(--whit-clr)}

.image-container .single-item-container { 
    margin: 10px 0;
    position: relative; 
    transition: var(--transition);
}

.image-container img {border-radius: var(--brdr-radi)}

.overlay-content {
    position:absolute;
    top:5%;
    left:5%;
    right:5%;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: var(--brdr-radi);
    width: 90%;
    height:90%;
    opacity: 0;
    transition: var(--transition);
    color: var(--whit-clr);
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.single-item-container:hover .overlay-content {transform: scale(1); opacity: 1}

.overlay-content h5,
.overlay-content a i {color: var(--whit-clr);font-size: var(--paragraph-font-size)}

.overlay-content a i {
    padding:15px;
    border:1px solid #fff;
    border-radius: 100%;
}

.overlay-content a:hover i {background-color: var(--whit-clr);color:var(--lite-blue)}

.modal-content {background: none;border:none}

.modal-body button {
    padding:8px;
    border-radius: 100%;
    border:2px solid #fff;
    margin: 8px 0;
    background-color: var(--whit-clr);
}

.delete{
    opacity: 0;
    display: none;
    transition:var(--transition)
}

.current{background-color: var(--lite-blue); color: var(--whit-clr)}

.current i {color:var(--whit-clr)}

/***pricing***/

.pricing {background-color: var(--liter-blue)}

.single-price-card{
    margin:20px 5px;
    padding:30px 10px;
    transition: var(--transition);   
}

.single-price-card:hover {
    background-color: var(--lite-blue);
    color: var(--whit-clr);
    transform: translateY(-20px);
}

.single-price-card img {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.single-price-card img::after {
    content:'';
    position: absolute;
    width:100%;
    height:10px;
    background-color: var(--blk-clr);
    bottom: 0;
    left:0;
}

.single-price-card li {margin:12px 0;}

.single-price-card .btn {padding:8px;margin:0 auto}

.single-price-card:nth-child(2) {
    background-color: var(--lite-blue);
    color:var(--whit-clr);
    transform: translateY(-20px);
}

/***blog***/

.single-blog-item {
    box-shadow: var(--card-shadow);
    position: relative;
    padding:0;
    margin:5px 10px;
    overflow: hidden;
}

.single-blog-item:hover img {transform: scale(1.1)}

.single-blog-item:hover .date-container {opacity: 1;top:12%}

.single-blog-item:hover  .side-arrow-btn {letter-spacing: 2px; color:var(--lite-blue)}

.date-container {
    position: absolute;
    background-color: var(--whit-clr);
    padding:7px;
    border-radius: 8px;
    left:65%;
    top:10%;
    width:30%;
    height:15%;
    text-align: center;
    opacity: 0;
    z-index: 111;
    transition: var(--transition);
}

.date-container p:nth-child(2) {color:var(--lite-blue)}

.single-blog-item img {
    border-radius: 15px 15px 0 0;
    transition: var(--transition);
    width: 100%;
}

/***subscribe***/

.subscribe {
    background-image: url(../img/newsletter-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--brdr-radi);
    position: relative;
    margin: 30px 0; 
    padding: 30px;;
}

.subscribe::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: var(--brdr-radi);
}

.subscribe .subscribe-content {z-index: 11111;color:var(--whit-clr)}

.subscribe input {
    border-radius: 4px;
    width:45%; 
    border: none;
    outline: none;
}

.subscribe .btn {
    background-color: var(--lite-blue);
    color:var(--whit-clr);
    border: none;
    border-radius: 4px;
}

.subscribe .btn:hover{background-color: var(--whit-clr);color:var(--lite-blue)}

/***partners***/

.partners {background-color:var(--liter-blue);padding:50px 0}

/***footer***/

.footer {background-color:var(--drk-blue);color:var(--whit-clr)}

.section {margin:30px 7px;}

.footer a {text-decoration: none;color: var(--whit-clr); transition: var(--transition);}

.footer li {margin: 20px 0;transition: var(--transition)}

.footer-social-icon a {background-color: var(--whit-clr);border-radius: 100%}

.footer-social-icon i {transition: var(--transition);color:var(--lite-blue)}

.footer-social-icon a:hover {background-color: var(--lite-blue)}

.footer-social-icon a:hover i {color:var(--whit-clr)}

.second-section li {cursor: pointer}

.second-section li:hover {transform: translateX(5px)}

.second-section li:hover a {color:var(--lite-blue)}

.third-section span {
    background-color: var(--whit-clr);
    color:var(--lite-blue);    
    border-radius: 50%;
    transition: var(--transition);
}

.third-section li:hover span {color:var(--whit-clr); background-color: var(--lite-blue)}

.fourth-section li:hover a {color: var(--lite-blue)}

.fourth-section img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
}

/***scroll to top icon***/

.scrollTop {
    position:absolute;
    position: fixed;
    bottom:5%;
    right:2%;
    background-color:var(--lite-blue);
    padding:15px;
    border-radius: var(--brdr-radi);
    z-index: 5555;
    opacity: 0;
    transition: var(--transition);
}
.scrollTop i {font-size: var(--paragraph-font-size);color:var(--whit-clr)}

.active-scroll {opacity: 1}
